<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/ExpantaNum.js"></script>
    <script src="js/saves.js"></script>
    <script src="js/main.js"></script>
    <script src="js/v.js"></script>

    <title>Unlimited Alphabets Beta</title>
</head>
<body onload="loadGame()">
    <div id="app">
        <div class="table_inline" style="margin-bottom: 10px;">
            <div class="tab" v-for="x in TABS.tab.name.length" v-if="TABS.tab.unl[x-1]()" v-on:click="player.tab = x">
                {{ TABS.tab.name[x-1] }}
            </div>
        </div><div v-if="player.tab == 1">
            <div class="table_inline">
                <button onclick="if (confirm('You wanted to RESET your progress to new game?')) {wipe(); location.reload()}">Hard Reset</button>
                <button onclick="save()">Save</button>
                <button onclick="importy()">Import</button>
                <button onclick="exporty()">Export</button>
            </div><br>
            (Version: Beta v1.0.2)
        </div><div v-if="player.tab == 2">
            You have played for {{ notate(player.ticks/1000,0) }} seconds
        </div><div v-if="player.tab == 3">
            <div style="height: 135px;">
                <div class="table_inline alp_tab_scroll" style="border: solid 3px white;">
                    <div class="alp_tab" v-for="x in FUNCTIONS.alps.have()" v-on:click="player.alp_tab = x">
                        <h2 style="font-size: 30px;">{{ FUNCTIONS.alphabet(x) }}</h2><br>
                        {{FUNCTIONS.alphabet(x)}}-{{ notate(player.alphabets[FUNCTIONS.alphabet(x)].resource, 0) }}<br>
                        <span v-if="x == 1 || (FUNCTIONS.alps.gain[FUNCTIONS.alphabet(x-1)] && player.automators[1] >= x-1)">(+{{ notate(FUNCTIONS.alps.gps_display(x),0) }}/s)</span>
                    </div>
                </div>
            </div><div>
                <div v-for="x in UPGRADES.total" v-if="x == player.alp_tab && player.alphabets[FUNCTIONS.alphabet(x)]">
                    <div class="table_center" style="height: 100px;">
                        <div v-bind:class="{open: FUNCTIONS.alps.gain[FUNCTIONS.alphabet(x)]().gte(1), closed: FUNCTIONS.alps.gain[FUNCTIONS.alphabet(x)]().lt(1)}" class="alp_reset table_center" v-if="player.alphabets[FUNCTIONS.alphabet(x+1)]" v-on:click="FUNCTIONS.alps.reset(x)">
                            Reset for<br>{{ FUNCTIONS.alphabet(x+1) }}-{{ notate(FUNCTIONS.alps.gain[FUNCTIONS.alphabet(x)](),0) }}
                        </div>
                    </div><br>
                    You have <h2>{{ FUNCTIONS.alphabet(x) }}-{{ notate(player.alphabets[FUNCTIONS.alphabet(x)].resource, 0) }}</h2><br>
                    <span v-if="x == 1 || (FUNCTIONS.alps.gain[FUNCTIONS.alphabet(x-1)] && player.automators[1] >= x-1)">(+{{ notate(FUNCTIONS.alps.gps_display(x),0) }}/s)</span><br><br>
                    <div class="table_inline" style="flex-wrap: wrap;">
                        <div class="alp_upg"
                            v-bind:class="{open: player.alphabets[FUNCTIONS.alphabet(x)].resource.gte(UPGRADES.alps[FUNCTIONS.alphabet(x)][r].cost) && !UPGRADES.bought(FUNCTIONS.alphabet(x), r),
                            closed: player.alphabets[FUNCTIONS.alphabet(x)].resource.lt(UPGRADES.alps[FUNCTIONS.alphabet(x)][r].cost) && !UPGRADES.bought(FUNCTIONS.alphabet(x), r),
                            bought: UPGRADES.bought(FUNCTIONS.alphabet(x), r)}"
                            v-for="r in UPGRADES.alps[FUNCTIONS.alphabet(x)].row" v-if="UPGRADES.alps[FUNCTIONS.alphabet(x)][r].unl()"
                            v-on:click="UPGRADES.buy(FUNCTIONS.alphabet(x), r)">
                            <div style="height: 70px;">{{ UPGRADES.alps[FUNCTIONS.alphabet(x)][r].desc }}</div>
                            Cost: {{ FUNCTIONS.alphabet(x) }}-{{ notate(UPGRADES.alps[FUNCTIONS.alphabet(x)][r].cost,0) }}
                            <span v-if="UPGRADES.alps[FUNCTIONS.alphabet(x)][r].cur"><br>Currently: {{ UPGRADES.alps[FUNCTIONS.alphabet(x)][r].curDesc(UPGRADES.alps[FUNCTIONS.alphabet(x)][r].cur()) }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div><div v-if="player.tab == 4">
            <div class="table_center" style="justify-content: space-around;">
                <div class='auto_upg' v-bind:class="{open: FUNCTIONS.automators.can(0), closed: !FUNCTIONS.automators.can(0)}" onclick="FUNCTIONS.automators.buy(0)">
                    <div style="height: 60px;">
                        Make the next alphabet is bought automatically.
                    </div>
                    Currently: None-{{ (player.automators[0]>0)?FUNCTIONS.alphabet(player.automators[0]):'None' }}<br>
                    Cost: {{ FUNCTIONS.alphabet(player.automators[0]+1) }}-{{ notate(FUNCTIONS.automators.cost[0]) }}
                </div><div class='auto_upg' v-bind:class="{open: FUNCTIONS.automators.can(1), closed: !FUNCTIONS.automators.can(1)}" onclick="FUNCTIONS.automators.buy(1)">
                    <div style="height: 60px;">
                        Make the next alphabet is automatically gain 10%.
                    </div>
                    Currently: a-{{ FUNCTIONS.alphabet(player.automators[1]+1) }}<br>
                    Cost: {{ FUNCTIONS.alphabet(player.automators[1]+2) }}-{{ notate(FUNCTIONS.automators.cost[1]) }}
                </div>
            </div>
        </div>
    </div>
</body>
</html>